$blue-color: #64ffda;
$green-color: #92fe9d;
$purple-color: #b24592;
$peach-color: #f15f79;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #202124;
  overflow-x: hidden;
  color: white;

  &::-webkit-scrollbar {
    width: 10px;
    background: #181818;
  }

  &::-webkit-scrollbar-thumb {
    background: $peach-color;
  }
}

nav {
  width: 100%;
  height: 10vh;
  background: transparent;
  position: relative;
  z-index: 1000;
  transition: background 300ms ease-in-out;

  ul {
    position: absolute;
    top: 0%;
    right: 0px;
  }

  &.sticky {
    position: fixed;
    background: #1e1e1e;
  }
}

.hamburger {
  position: fixed;
  right: 7.5%;
  display: none;
  visibility: hidden;
  font-size: 24px !important;
  cursor: pointer;
  z-index: 1000;

  color: white !important;
}

header {
  height: 100vh;
  position: relative;
}

section {
  margin-bottom: 200px;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

//Global Start

nav {
  .container {
    height: 100%;
  }
}

.section-name {
  letter-spacing: 1.8px;
  font-size: 36px;
  color: white;
  font-weight: 600;
  text-align: center;
  margin-top: 150px;
}

.svg-section-name {
  display: block;
  margin: 0 auto;
  width: 20%;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  transition: stroke-dashoffset 300ms ease-out;
}

.section-name-decoration {
  height: 2px;
  width: 400px;
  transform-origin: center;
  transform: scaleX(0);
  margin: 20px auto 100px auto;
  background: $blue-color;
  border-radius: 50px;
  position: relative;
  z-index: -1;

  &::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background: $blue-color;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    // z-index: 1;
  }
}
.wrapper {
  padding-bottom: 50px;
}

.transition {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #202124;
  top: 0;
  left: 0;
  pointer-events: none;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(0);
  z-index: 2000;
}
.transition-2 {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2000;
  display: none;

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    li {
      flex-grow: 1;
      background: #202124;
      transform-origin: left;
      transform: scaleX(0);

      // &:nth-of-type(2) {
      //   background: $blue-color !important;
      // }
      // &:nth-of-type(4) {
      //   background: $blue-color !important;
      // }
    }
  }
}

.page-name {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
    display: none;
    z-index: 3000;

    path {
      stroke-width: 2px;
      stroke-dasharray: 1;
      stroke-dashoffset: 1;
      transition: stroke-dashoffset 300ms ease-out;
    }
  }
}

.loading-screen {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #1e1e1e;
  z-index: 1100;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // display: flex;
  // justify-content: center;
  // align-items: center;
  z-index: 1101;

  svg {
    width: 50%;
    height: 50%;
    display: block;
    margin: 0px auto;

    path {
      width: 50%;
      height: 50%;
      opacity: 0;
      position: relative;
      transform-origin: bottom left;
    }
  }

  .information {
    margin-top: 0px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 5px;
    font-size: 1.5rem;
    opacity: 0;
    transform: translateY(20px);
    p {
      white-space: nowrap;
    }
  }
}

//Global End

//Utility Start

.relative {
  position: relative;
}

.grid-auto-rows {
  grid-auto-rows: 1fr !important;
}

.h-100 {
  height: 100%;
}

.blue-color {
  color: $blue-color;
}
.peach-color {
  color: $peach-color;
}

//Utility End

//Header Start

.name {
  white-space: nowrap;
  span {
    transition: all 500ms ease;
  }
}

.end-of-firstname {
  letter-spacing: 1px;
}

.brand-logo {
  color: white !important;
  font-size: 22px !important;
}

.no-list-links {
  display: flex;
  justify-content: center;
  align-items: center;
  .brand-logo {
    display: block;
    margin: auto;
  }
}

.nav-wrapper {
  width: 100%;
  height: 100%;
  i {
    height: 64px;
    line-height: 64px;
  }
  li {
    cursor: pointer;
    z-index: 100;
    a {
      color: white;

      &:hover {
        color: $peach-color;
      }
    }
  }
}

.header-word-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  h3 {
    letter-spacing: 1.5px;
    font-weight: 600;
    position: relative;
    top: 22%;
  }

  h5 {
    font-size: 16px;
    position: relative;
    top: 18%;
    font-weight: 400;
  }
}

.cta {
  position: relative;
  margin-top: 30px;
  display: inline-block;
  text-decoration: none;
  border: none;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.6em 0.9em;
  border: 1px solid $blue-color;
  position: relative;
  overflow: hidden;
  transition: all 0.6s ease;
  opacity: 0;

  // border-radius: 20px;

  &::before {
    content: '';
    background: linear-gradient(90deg, $blue-color, $green-color);
    width: 100%;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate((45deg));
    z-index: -1;
    transition: all 0.6s ease;
  }

  &:hover {
    cursor: pointer;
    color: #202124;

    &::before {
      height: 400%;
    }
  }
}

.header-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: relative;
  top: -10%;
  left: 10%;
}

.header-graphic-left {
  width: 25%;
  height: 80%;
  background-image: url('./imgs/Header_Graphic_Left.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 10%;
  left: 0%;
  z-index: -1;
}

.header-graphic-mid {
  width: 20%;
  height: 20%;
  background-image: url('./imgs/Header_Graphic_Mid.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 20%;
  left: 60%;
  // transform: translateY(-50%);
  z-index: -1;
}
.header-graphic-right {
  background-image: url('./imgs/Header_Graphic_Right.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 6%;
  height: 20%;
  position: absolute;
  bottom: 10%;
  right: -1%;
}

//Header End

//About Me Start

.about-me {
  position: relative;
  p {
    text-align: center;
    box-shadow: 2px 2px 5px #2c2b2b;
    background: #181818;
    position: relative;
    padding: 50px;
    display: block;
    z-index: 10;
  }
}

.about-me-graphic-left {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -15%;
  left: -8%;
  background-image: url('./imgs/Dots.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.about-me-graphic-right {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -20%;
  right: -8%;
  background-image: url('./imgs/Dots.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

//About Me End

//Skills Start
.skills-group {
  width: 100%;
  height: 300px;
  position: relative;
  margin-bottom: 50px;
  box-shadow: 2px 2px 5px #181818;
  overflow-x: hidden;
}

.skills-content {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  background: #181818;
}

.skill-group-information {
  margin-left: 20%;
  margin-top: 50px;
  transform: skewX(0deg);

  ul {
    li {
      list-style-type: circle;
    }
  }
}

.skill-img {
  height: 80%;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.frontend {
  background: linear-gradient(90deg, $blue-color, $green-color);
}
.backend {
  background: linear-gradient(90deg, $purple-color, $peach-color);
}
.database {
  background: linear-gradient(90deg, $blue-color, $green-color);
}
.other {
  background: linear-gradient(90deg, $purple-color, $peach-color);
}
//Skills End

//Project Start
.project-information-section {
  background: #1e1e1e;
  padding: 50px 0px;
  margin-bottom: 0px !important;
}
.project-graphic-left {
  width: 50%;
  height: 50%;
  background-image: url('./imgs/Project_Graphic_Left.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.6;
  top: 0%;
  left: -5%;
  // transform: translateY(-50%);
  z-index: -1;
}
.project-graphic-mid {
  width: 35%;
  height: 35%;
  background-image: url('./imgs/Project_Graphic_Mid.svg');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
  position: absolute;
  top: 35%;
  left: 65%;
  // transform: translateY(-50%);
  z-index: -1;
}
.project-graphic-right {
  width: 15%;
  height: 20%;
  background-image: url('./imgs/Project_Graphic_Right.svg');
  background-size: contain;
  opacity: 0.5;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -10%;
  right: -5%;
  z-index: -1;
}

.project {
  height: auto;
  margin-bottom: 75px;
}

#project {
  transform: scale(0);
  opacity: 1;
}

.project-type-title {
  text-align: center;
  font-size: 32px;
  color: $peach-color;
  font-weight: 600;
  margin-bottom: 100px;
}

.project-img-container {
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin: auto;

    &:hover {
      filter: brightness(80%);
    }
  }
}

.project-info {
  height: auto;
  h3 {
    text-align: center;
    font-size: 28px;
    color: $purple-color;
  }

  p {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
  }

  a {
    text-decoration: none;
    display: block;
    margin: 20px auto 0px auto;
    width: fit-content;
    padding: 8px 15px;
    background: linear-gradient(
      90deg,
      $purple-color,
      $peach-color,
      $purple-color
    );
    color: white;
    font-weight: 500;
  }
}

.individual-project {
  height: 100%;
  padding: 50px 0px 0px 0px;
}

.individual-project-img-container {
  display: block;
  margin: auto;
  transform: translateY(0%);
  opacity: 1;
  img {
    width: 60%;
    object-fit: contain;
    display: block;
    margin: auto;
  }
}

.individual-project-information {
  h3 {
    white-space: nowrap;
    text-align: center;
    color: #fff;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      transform: translateY(20px);
      font-size: 3vw;
      top: -100;
      opacity: 0;
    }
  }
}

.individual-project-made-with {
  h5 {
    text-align: center;
    color: $peach-color;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      list-style: none;
      text-align: center;
      font-weight: 300;
    }
  }
}

.individual-project-description-links-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  opacity: 0;
  h5 {
    color: $peach-color;
  }
  p {
    &:nth-of-type(1) {
      font-weight: 300;
      max-height: 150px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 5px;
        background: #181818;
      }

      &::-webkit-scrollbar-thumb {
        background: $peach-color;
        border-radius: 20px;
      }
    }

    .account {
      color: white;
    }
  }

  span {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: $peach-color;
    text-align: center;
    margin-top: 20px;
  }
}

.individual-project-warning {
  color: red;
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
}
.individual-project-links {
  width: fit-content;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  a {
    padding: 8px 25px;
    border: 2px solid $green-color;
    color: $green-color;
    font-weight: 600;
    text-decoration: none;
    background: none;
    text-align: left;
    overflow: hidden;
    position: relative;
    transition: all 300ms ease-in-out;
    cursor: pointer;

    &:nth-of-type(1) {
      margin-right: 20px;
    }

    &:hover {
      background: $green-color;
      color: black;
    }
  }
}

//Project End

//Contact Start
form {
  width: 80%;
  margin: 0 auto;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  label {
    color: $purple-color;
    font-size: 16px;
  }
  input {
    width: 100% !important;
    box-sizing: border-box !important;
    background-color: #fafafa !important;
    padding: 15px !important;
    color: black !important;
    border: none !important;
  }

  textarea {
    background-color: #fafafa !important;
    padding: 10px !important;
    height: 200px;
    resize: none;
    color: black !important;
    border: none !important;
  }
}

.submit-btn {
  width: 100%;
  border: none;
  background: $peach-color;
  margin-top: 20px;
  color: white;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;

  &:hover {
    filter: brightness(80%);
  }
}
//Contact End

//Footer Start
footer {
  width: 100vw;
  height: 30vh;
  padding: 5px;
  background: #1e1e1e;
  h3 {
    text-align: center;
    font-size: 26px;
    color: white;
  }
}

.copyright {
  display: block;
  text-align: center;
  margin: 80px auto auto auto;
  color: lightgrey;
}
//Footer End

@media screen and (max-width: 992px) {
  //Header Start
  .hamburger {
    display: block;
    visibility: visible;
  }
  .header-graphic-left {
    width: 60%;
    height: 60%;
    top: 10%;
  }
  .header-graphic-mid {
    top: 25%;
    left: 65%;
  }
  .header-graphic-right {
    width: 12%;
    height: 30%;
    bottom: 3%;
    right: -1%;
  }

  .nav-wrapper {
    ul {
      width: 250px !important;
      height: 100vh !important;
      position: fixed !important;
      top: 0 !important;
      right: 0 !important;
      background-color: #181818 !important;
      display: flex !important;
      flex-direction: column !important;
      justify-content: space-evenly !important;
      align-items: center !important;
      transform: translateX(250px);
      transition: all 300ms ease-in-out;

      &.nav-open {
        transform: translateX(0px);
      }
    }
  }
  //Header End

  //Skills Start
  .skill-img {
    height: 70%;
  }
  //Skills End

  //Project Start
  .project-graphic-right {
    width: 20%;
    bottom: -15%;
  }

  // .individual-project-information {
  //   h3 {
  //     span {
  //       font-size: 28px;
  //     }
  //   }
  // }
  //Project End
}

@media screen and (max-width: 768px) {
  .logo {
    svg {
      width: 70%;
      height: 70%;
    }
  }

  //Header Start
  .name {
    span {
      font-size: 36px;
    }
  }
  //Header End

  //Section Start
  .svg-section-name {
    width: 30%;
  }
  //Section End

  //SKills Start
  .skills-group {
    height: 250px;
  }

  .skill-group-information {
    margin-top: 20px;
    h4 {
      font-size: 28px;
    }

    ul {
      li {
        font-size: 14px;
      }
    }
  }

  .skill-img {
    height: 60%;
  }
  //Skills End

  //Projects Start

  .project-graphic-right {
    width: 15%;
    height: 12%;
  }

  .individual-project-made-with {
    ul {
      li {
        font-size: 12px;
      }
    }
  }

  // .individual-project-information {
  //   h3 {
  //     span {
  //       font-size: 20px;
  //     }
  //   }
  // }

  .individual-project-description-links-container {
    font-size: 12px;
  }
  //Projects End
}

@media screen and (max-width: 600px) {
  .logo {
    .information {
      font-size: 1.2rem;
    }
  }

  section {
    margin-bottom: 50px;
  }

  //Global Start
  .section-name {
    margin-bottom: 20px;
  }

  #aboutme {
    .section-name-decoration {
      margin-bottom: 200px;
    }
  }

  .section-name-decoration {
    margin-bottom: 50px;
    width: 200px;
  }

  //Global End

  //Header Start
  .header-graphic-left {
    width: 70%;
    height: 50%;
    top: 10%;
  }

  .header-graphic-mid {
    height: 20%;
    top: 25%;
    left: 70%;
  }
  .header-graphic-right {
    width: 15%;
    height: 30%;
    bottom: 10%;
    right: -1%;
  }

  .name {
    span {
      font-size: 32px;
    }
  }

  .header-word-content {
    h5 {
      font-size: 14px;
      font-weight: 300;
    }
  }
  //Header End

  //Section Start
  .svg-section-name {
    width: 40%;
  }
  //Section End

  //Skills Start
  .skills-group {
    height: 200px;
  }

  .skill-group-information {
    margin-top: 24px;
    h4 {
      font-size: 20px;
    }
    ul {
      li {
        font-size: 12px;
      }
    }
  }

  .skill-img {
    height: 50%;
  }
  //Skills End

  //Projects Start

  .project-graphic-right {
    width: 25%;
    height: 15%;
  }

  .project-information-section {
    padding: 20px 0px;
  }

  .individual-project-information {
    h3 {
      span {
        font-size: 4vw;
      }
    }
  }

  .individual-project-img-container {
    img {
      width: 80%;
    }
  }

  .individual-project-made-with {
    h5 {
      font-size: 20px;
    }
  }

  .individual-project-description-links-container {
    h5 {
      font-size: 20px;
    }

    p {
      text-align: center;
    }
  }
  .project-type-title {
    font-size: 28px;
  }

  .project-img-container {
    margin-bottom: 30px;
  }

  //Projects End
}

@media screen and (max-width: 400px) {
  section {
    &:nth-of-type(1) {
      margin-bottom: 250px;
    }
  }

  //Header Start
  .name {
    span {
      font-size: 26px;
      letter-spacing: 1px;
    }
  }
  //Header End

  //Skills Start
  .skill-group-information {
    margin-left: 12%;

    ul {
      li {
        font-size: 10px;
      }
    }
  }
  //Skills End

  //Project Start

  .individual-project-information {
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-size: 5vw;
      }
    }
  }

  .project-graphic-right {
    width: 20%;
    height: 10%;
  }
  //Project End
}

@keyframes dash {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}
