* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  max-height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #202124;
  overflow-x: hidden;
  color: white;
}

body::-webkit-scrollbar {
  width: 10px;
  background: #181818;
}

body::-webkit-scrollbar-thumb {
  background: #f15f79;
}

nav {
  width: 100%;
  height: 10vh;
  background: transparent;
  position: relative;
  z-index: 1000;
}

nav ul {
  position: absolute;
  top: 0%;
  right: 0px;
}

.hamburger {
  position: fixed;
  right: 7.5%;
  display: none;
  visibility: hidden;
  font-size: 24px !important;
  cursor: pointer;
  z-index: 1000;
  color: white !important;
}

header {
  height: 100vh;
  position: relative;
}

section {
  margin-bottom: 200px;
}

section:nth-last-child(1) {
  margin-bottom: 0;
}

nav .container {
  height: 100%;
}

.section-name {
  letter-spacing: 1.8px;
  font-size: 36px;
  color: white;
  font-weight: 600;
  text-align: center;
  margin-top: 150px;
}

.svg-section-name {
  display: block;
  margin: 0 auto;
  width: 20%;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  -webkit-transition: stroke-dashoffset 300ms ease-out;
  transition: stroke-dashoffset 300ms ease-out;
}

.section-name-decoration {
  height: 2px;
  width: 400px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  margin: 20px auto 100px auto;
  background: #64ffda;
  border-radius: 50px;
  position: relative;
  z-index: -1;
}

.section-name-decoration::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background: #64ffda;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.wrapper {
  padding-bottom: 50px;
}

.transition {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #202124;
  top: 0;
  left: 0;
  pointer-events: none;
  -webkit-transform-origin: center;
          transform-origin: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  z-index: 2000;
}

.transition-2 {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 2000;
  display: none;
}

.transition-2 ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.transition-2 ul li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #202124;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.page-name {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-name svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  display: none;
  z-index: 3000;
}

.page-name svg path {
  stroke-width: 2px;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  -webkit-transition: stroke-dashoffset 300ms ease-out;
  transition: stroke-dashoffset 300ms ease-out;
}

.relative {
  position: relative;
}

.grid-auto-rows {
  grid-auto-rows: 1fr !important;
}

.h-100 {
  height: 100%;
}

.blue-color {
  color: #64ffda;
}

.peach-color {
  color: #f15f79;
}

.name {
  white-space: nowrap;
}

.name span {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.end-of-firstname {
  letter-spacing: 1px;
}

.brand-logo {
  color: white !important;
  font-size: 22px !important;
}

.no-list-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-list-links .brand-logo {
  display: block;
  margin: auto;
}

.nav-wrapper {
  width: 100%;
  height: 100%;
}

.nav-wrapper i {
  height: 64px;
  line-height: 64px;
}

.nav-wrapper li {
  cursor: pointer;
  z-index: 100;
}

.nav-wrapper li a {
  color: white;
}

.nav-wrapper li a:hover {
  color: #f15f79;
}

.header-word-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-word-content h3 {
  letter-spacing: 1.5px;
  font-weight: 600;
  position: relative;
  top: 22%;
}

.header-word-content h5 {
  font-size: 16px;
  position: relative;
  top: 18%;
  font-weight: 400;
}

.cta {
  position: relative;
  top: 20%;
  background: #64ffda;
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 8px 15px;
  border-radius: 20px;
}

.cta:hover {
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.header-img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  position: relative;
  top: -10%;
  left: 10%;
}

.header-graphic-left {
  width: 25%;
  height: 80%;
  background-image: url("./imgs/Header_Graphic_Left.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 10%;
  left: 0%;
  z-index: -1;
}

.header-graphic-mid {
  width: 20%;
  height: 20%;
  background-image: url("./imgs/Header_Graphic_Mid.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 20%;
  left: 60%;
  z-index: -1;
}

.header-graphic-right {
  background-image: url("./imgs/Header_Graphic_Right.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 6%;
  height: 20%;
  position: absolute;
  bottom: 10%;
  right: -1%;
}

.about-me {
  text-align: center;
  padding: 50px;
  background: #181818;
  -webkit-box-shadow: 2px 2px 5px #181818;
          box-shadow: 2px 2px 5px #181818;
  position: relative;
}

.about-me-graphic-left {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -15%;
  left: -8%;
  background-image: url("./imgs/Dots.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.about-me-graphic-right {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -20%;
  right: -8%;
  background-image: url("./imgs/Dots.svg");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.skills-group {
  width: 100%;
  height: 300px;
  position: relative;
  margin-bottom: 50px;
  -webkit-box-shadow: 2px 2px 5px #181818;
          box-shadow: 2px 2px 5px #181818;
  overflow-x: hidden;
}

.skills-content {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  background: #181818;
}

.skill-group-information {
  margin-left: 20%;
  margin-top: 50px;
  -webkit-transform: skewX(0deg);
          transform: skewX(0deg);
}

.skill-group-information ul li {
  list-style-type: circle;
}

.skill-img {
  height: 80%;
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.frontend {
  background: -webkit-gradient(linear, left top, right top, from(#64ffda), to(#92fe9d));
  background: linear-gradient(90deg, #64ffda, #92fe9d);
}

.backend {
  background: -webkit-gradient(linear, left top, right top, from(#b24592), to(#f15f79));
  background: linear-gradient(90deg, #b24592, #f15f79);
}

.database {
  background: -webkit-gradient(linear, left top, right top, from(#64ffda), to(#92fe9d));
  background: linear-gradient(90deg, #64ffda, #92fe9d);
}

.other {
  background: -webkit-gradient(linear, left top, right top, from(#b24592), to(#f15f79));
  background: linear-gradient(90deg, #b24592, #f15f79);
}

.project-information-section {
  background: #1e1e1e;
  padding: 50px 0px;
  margin-bottom: 0px !important;
}

.project-graphic-left {
  width: 50%;
  height: 50%;
  background-image: url("./imgs/Project_Graphic_Left.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.6;
  top: 0%;
  left: -5%;
  z-index: -1;
}

.project-graphic-mid {
  width: 35%;
  height: 35%;
  background-image: url("./imgs/Project_Graphic_Mid.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
  position: absolute;
  top: 35%;
  left: 65%;
  z-index: -1;
}

.project-graphic-right {
  width: 15%;
  height: 20%;
  background-image: url("./imgs/Project_Graphic_Right.svg");
  background-size: contain;
  opacity: 0.5;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -10%;
  right: -5%;
  z-index: -1;
}

.project {
  height: auto;
  margin-bottom: 75px;
}

#project {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 1;
}

.project-type-title {
  text-align: center;
  font-size: 32px;
  color: #f15f79;
  font-weight: 600;
  margin-bottom: 100px;
}

.project-img-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}

.project-img-container img:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.project-info {
  height: auto;
}

.project-info h3 {
  text-align: center;
  font-size: 28px;
  color: #b24592;
}

.project-info p {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}

.project-info a {
  text-decoration: none;
  display: block;
  margin: 20px auto 0px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 15px;
  background: -webkit-gradient(linear, left top, right top, from(#b24592), color-stop(#f15f79), to(#b24592));
  background: linear-gradient(90deg, #b24592, #f15f79, #b24592);
  color: white;
  font-weight: 500;
}

.individual-project {
  height: 100%;
  padding: 50px 0px 0px 0px;
}

.individual-project-img-container {
  display: block;
  margin: auto;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.individual-project-img-container img {
  width: 60%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: auto;
}

.individual-project-information h3 {
  white-space: nowrap;
  text-align: center;
  color: #fff;
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.individual-project-information h3 span {
  font-size: 3vw;
  top: -100;
  opacity: 0;
}

.individual-project-made-with h5 {
  text-align: center;
  color: #f15f79;
}

.individual-project-made-with ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.individual-project-made-with ul li {
  list-style: none;
  text-align: center;
  font-weight: 300;
}

.individual-project-description-links-container {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.individual-project-description-links-container h5 {
  color: #f15f79;
}

.individual-project-description-links-container p:nth-of-type(1) {
  font-weight: 300;
  max-height: 150px;
  overflow-y: scroll;
}

.individual-project-description-links-container p:nth-of-type(1)::-webkit-scrollbar {
  width: 5px;
  background: #181818;
}

.individual-project-description-links-container p:nth-of-type(1)::-webkit-scrollbar-thumb {
  background: #f15f79;
  border-radius: 20px;
}

.individual-project-description-links-container p .account {
  color: white;
}

.individual-project-description-links-container span {
  display: block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #f15f79;
  text-align: center;
  margin-top: 20px;
}

.individual-project-warning {
  color: red;
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
}

.individual-project-links {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.individual-project-links a {
  padding: 8px 25px;
  border: 2px solid #92fe9d;
  color: #92fe9d;
  font-weight: 600;
  text-decoration: none;
  background: none;
  text-align: left;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.individual-project-links a:nth-of-type(1) {
  margin-right: 20px;
}

.individual-project-links a:hover {
  background: #92fe9d;
  color: black;
}

form {
  width: 80%;
  margin: 0 auto;
}

.input-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.input-section label {
  color: #b24592;
  font-size: 16px;
}

.input-section input {
  width: 100% !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  background-color: #fafafa !important;
  padding: 15px !important;
  color: black !important;
  border: none !important;
}

.input-section textarea {
  background-color: #fafafa !important;
  padding: 10px !important;
  height: 200px;
  resize: none;
  color: black !important;
  border: none !important;
}

.submit-btn {
  width: 100%;
  border: none;
  background: #f15f79;
  margin-top: 20px;
  color: white;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

footer {
  width: 100vw;
  height: 30vh;
  padding: 5px;
  background: #1e1e1e;
}

footer h3 {
  text-align: center;
  font-size: 26px;
  color: white;
}

.copyright {
  display: block;
  text-align: center;
  margin: 80px auto auto auto;
  color: lightgrey;
}

@media screen and (max-width: 992px) {
  .hamburger {
    display: block;
    visibility: visible;
  }
  .header-graphic-left {
    width: 60%;
    height: 60%;
    top: 10%;
  }
  .header-graphic-mid {
    top: 25%;
    left: 65%;
  }
  .header-graphic-right {
    width: 12%;
    height: 30%;
    bottom: 3%;
    right: -1%;
  }
  .nav-wrapper ul {
    width: 250px !important;
    height: 100vh !important;
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    background-color: #181818 !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .nav-wrapper ul.nav-open {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .skill-img {
    height: 70%;
  }
  .project-graphic-right {
    width: 20%;
    bottom: -15%;
  }
}

@media screen and (max-width: 768px) {
  .name span {
    font-size: 36px;
  }
  .svg-section-name {
    width: 30%;
  }
  .skills-group {
    height: 250px;
  }
  .skill-group-information {
    margin-top: 20px;
  }
  .skill-group-information h4 {
    font-size: 28px;
  }
  .skill-group-information ul li {
    font-size: 14px;
  }
  .skill-img {
    height: 60%;
  }
  .project-graphic-right {
    width: 15%;
    height: 12%;
  }
  .individual-project-made-with ul li {
    font-size: 12px;
  }
  .individual-project-description-links-container {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  section {
    margin-bottom: 50px;
  }
  .section-name {
    margin-bottom: 20px;
  }
  #aboutme .section-name-decoration {
    margin-bottom: 200px;
  }
  .section-name-decoration {
    margin-bottom: 50px;
    width: 200px;
  }
  .header-graphic-left {
    width: 70%;
    height: 50%;
    top: 10%;
  }
  .header-graphic-mid {
    height: 20%;
    top: 25%;
    left: 70%;
  }
  .header-graphic-right {
    width: 15%;
    height: 30%;
    bottom: 10%;
    right: -1%;
  }
  .name span {
    font-size: 32px;
  }
  .header-word-content h5 {
    font-size: 14px;
    font-weight: 300;
  }
  .svg-section-name {
    width: 40%;
  }
  .skills-group {
    height: 200px;
  }
  .skill-group-information {
    margin-top: 24px;
  }
  .skill-group-information h4 {
    font-size: 20px;
  }
  .skill-group-information ul li {
    font-size: 12px;
  }
  .skill-img {
    height: 50%;
  }
  .project-graphic-right {
    width: 25%;
    height: 15%;
  }
  .project-information-section {
    padding: 20px 0px;
  }
  .individual-project-information h3 span {
    font-size: 4vw;
  }
  .individual-project-img-container img {
    width: 80%;
  }
  .individual-project-made-with h5 {
    font-size: 20px;
  }
  .individual-project-description-links-container h5 {
    font-size: 20px;
  }
  .individual-project-description-links-container p {
    text-align: center;
  }
  .project-type-title {
    font-size: 28px;
  }
  .project-img-container {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 400px) {
  section:nth-of-type(1) {
    margin-bottom: 250px;
  }
  .name span {
    font-size: 26px;
    letter-spacing: 1px;
  }
  .skill-group-information {
    margin-left: 12%;
  }
  .skill-group-information ul li {
    font-size: 10px;
  }
  .individual-project-information h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .individual-project-information h3 span {
    font-size: 5vw;
  }
  .project-graphic-right {
    width: 20%;
    height: 10%;
  }
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}
/*# sourceMappingURL=styles.css.map */