//Project Start
.project-information-section {
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e1e1e;
  padding: 50px 20px;
  margin-bottom: 0px !important;
}

.project-graphic-left {
  width: 50%;
  height: 50%;
  background-image: url("../imgs/Project_Graphic_Left.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.6;
  top: 0%;
  left: -5%;
  // transform: translateY(-50%);
  z-index: -1;
}
.project-graphic-mid {
  width: 35%;
  height: 35%;
  background-image: url("../imgs/Project_Graphic_Mid.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.8;
  position: absolute;
  top: 35%;
  left: 65%;
  // transform: translateY(-50%);
  z-index: -1;
}
.project-graphic-right {
  width: 15%;
  height: 20%;
  background-image: url("../imgs/Project_Graphic_Right.svg");
  background-size: contain;
  opacity: 0.5;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -10%;
  right: -5%;
  z-index: -1;
}

.project {
  height: auto;
  margin-bottom: 75px;
}

#project {
  transform: scale(0);
  opacity: 1;
}

.project-type-title {
  text-align: center;
  font-size: 32px;
  color: $peach-color;
  font-weight: 600;
  margin-bottom: 100px;
}

.project-img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    margin: auto;
    transition: all 300ms ease-in-out;
    z-index: 0;
  }

  a {
    div {
      &#clothing-website,
      &#restaurant-website,
      &.sort-algo-viz,
      &#issue-tracker-website,
      &#cellphone-repair-website {
        &::after {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.2vw;
          opacity: 0;
          color: white;
          transform: translateY(-20px);
          transition: all 300ms ease-in-out;
          z-index: 10;
        }
      }

      &#clothing-website {
        &::after {
          content: "Clothing Website";
        }
      }
      &#restaurant-website {
        &::after {
          content: "Restaurant Website";
        }
      }
      &.sort-algo-viz {
        &::after {
          content: "Sorting Algorithm Visualizer";
        }
      }
      &#issue-tracker-website {
        &::after {
          content: "Issue Tracker";
        }
      }
      &#cellphone-repair-website {
        &::after {
          content: "Cellphone Repair Website";
        }
      }
    }
  }

  &:hover {
    img {
      filter: brightness(50%);
    }

    a {
      div {
        &#clothing-website,
        &#restaurant-website,
        &.sort-algo-viz,
        &#issue-tracker-website,
        &#cellphone-repair-website {
          &::after {
            opacity: 1;
            transform: translateY(0px);
          }
        }
      }
    }
  }
}

.project-info {
  height: auto;
  h3 {
    text-align: center;
    font-size: 28px;
    color: $purple-color;
  }

  p {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
  }

  a {
    text-decoration: none;
    display: block;
    margin: 20px auto 0px auto;
    width: fit-content;
    padding: 8px 15px;
    background: linear-gradient(
      90deg,
      $purple-color,
      $peach-color,
      $purple-color
    );
    color: white;
    font-weight: 500;
  }
}

.individual-project {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.individual-project-img-container {
  display: block;
  margin: auto;
  transform: translateY(0%);
  opacity: 1;
  img {
    width: 60%;
    object-fit: contain;
    display: block;
    margin: auto;
  }
}

.individual-project-information {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    white-space: nowrap;
    text-align: center;
    color: #fff;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      transform: translateY(-50px);
      font-size: 3vw;
      top: -100;
      opacity: 0;
    }
  }
}

.individual-project-made-with {
  width: 40%;
  h5 {
    text-align: center;
    color: $peach-color;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      list-style: none;
      text-align: center;
      font-weight: 300;
    }
  }
}

.individual-project-description-links-container {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  opacity: 0;

  transform: translateY(-20px);
  h5 {
    color: $peach-color;
  }
  p {
    &:nth-of-type(1) {
      font-weight: 300;
      text-align: center;
      max-height: 150px;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 5px;
        background: #181818;
      }

      &::-webkit-scrollbar-thumb {
        background: $peach-color;
        border-radius: 20px;
      }
    }

    .account {
      color: white;
    }
  }

  span {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: $peach-color;
    text-align: center;
    margin-top: 20px;
  }
}

.individual-project-warning {
  color: red;
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
}
.individual-project-links {
  width: fit-content;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  a {
    padding: 8px 25px;
    border: 2px solid $green-color;
    color: $green-color;
    font-weight: 600;
    text-decoration: none;
    background: none;
    text-align: left;
    overflow: hidden;
    position: relative;
    transition: all 300ms ease-in-out;
    cursor: pointer;

    &:nth-of-type(1) {
      margin-right: 20px;
    }

    &:hover {
      background: $green-color;
      color: black;
    }
  }
}

//Project End

@media screen and (max-width: 992px) {
  //Project Start
  .project-graphic-right {
    width: 20%;
    bottom: -15%;
  }

  .project-information-section {
    flex-direction: column;
    padding: 50px 20px;
  }

  .individual-project-made-with {
    width: 100%;
    margin-bottom: 30px;
  }

  .individual-project-description-links-container {
    width: 100%;
    text-align: center;
  }

  .project-img-container {
    a {
      div {
        &#clothing-website,
        &#restaurant-website,
        &.sort-algo-viz,
        &#issue-tracker-website,
        &#cellphone-repair-website {
          &::after {
            font-size: 16px;
          }
        }
      }
    }
  }

  //Project End
}

@media screen and (max-width: 768px) {
  //Projects Start

  .project-graphic-right {
    width: 15%;
    height: 12%;
  }

  .individual-project-made-with {
    ul {
      li {
        font-size: 12px;
      }
    }
  }

  .project-img-container {
    a {
      div {
        &#clothing-website,
        &#restaurant-website,
        &.sort-algo-viz,
        &#issue-tracker-website,
        &#cellphone-repair-website {
          &::after {
            font-size: 1.8vw;
          }
        }
      }
    }
  }

  .individual-project-description-links-container {
    font-size: 12px;
  }
  //Projects End
}
@media screen and (max-width: 600px) {
  //Projects Start

  .project-graphic-right {
    width: 25%;
    height: 15%;
  }

  .individual-project-information {
    h3 {
      span {
        font-size: 4vw;
      }
    }
  }

  .project-img-container {
    a {
      div {
        &#clothing-website,
        &#restaurant-website,
        &.sort-algo-viz,
        &#issue-tracker-website,
        &#cellphone-repair-website {
          &::after {
            font-size: 3.8vw;
          }
        }
      }
    }
  }

  .individual-project-img-container {
    img {
      width: 80%;
    }
  }

  .individual-project-made-with {
    h5 {
      font-size: 20px;
    }
  }

  .individual-project-description-links-container {
    h5 {
      font-size: 20px;
    }

    p {
      text-align: center;
    }
  }
  .project-type-title {
    font-size: 28px;
  }

  .project-img-container {
    margin-bottom: 30px;
  }

  //Projects End
}
@media screen and (max-width: 400px) {
  //Project Start

  .individual-project-information {
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        font-size: 5vw;
      }
    }
  }

  .project-graphic-right {
    width: 20%;
    height: 10%;
  }
  //Project End
}
